<!DOCTYPE html>
<html>

<head>
	<title>角色管理</title>
	#parse("sys/globalCSS.html")
</head>

<body class="gray-bg">
	#parse("sys/loading.html")
	<div id="rrapp" class="wrapper wrapper-content  animated fadeInRight" v-cloak>
		<div v-show="showList">
			<div class="ibox ">
				<div class="ibox-title">
					<div class="grid-btn">
						<div class="col-sm-2">
							<input type="text" class="layui-input form-control" v-model="q.cityName" @keyup.enter="query" placeholder="城市名称">
						</div>
						<a class="btn btn-outline btn-primary" @click="query">查询</a>
						<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a> 
						<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
						<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
					</div>
				</div>
				<div class="ibox-content">
					<div class="jqGrid_wrapper">
						<table id="jqGrid"></table>
						<div id="jqGridPager"></div>
					</div>
				</div>
			</div>
		</div>

		<div v-show="!showList" class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{title}}</h5>
			</div>
			<div class="ibox-content">
				<form class="layui-form">
					<div class="row">
						<div class="col-sm-6">

							<div class="layui-form-item">
								<label class="layui-form-label">城市名称</label>
								<div class="layui-input-block">
									<input type="text" v-show="insert" class="layui-input form-control" name="cityName" lay-verify="required" autocomplete="off" placeholder="城市名称"
									    v-model="city.name" />
                                    <span v-show="!insert" class="layui-form-mid">{{city.name}}</span>
								</div>
							</div>
                            
							<div class="layui-form-item">
								<label class="layui-form-label">城市编码</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input form-control" name="code" lay-verify="code" autocomplete="off" placeholder="城市编码"
									    v-model="city.code" />
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label">备注</label>
								<div class="layui-input-block">
									<input type="text" class="layui-input form-control" name="remark" v-model="city.remark" placeholder="备注" />
								</div>
							</div>

							<div class="layui-form-item">
								<label class="layui-form-label">状态</label>
								<div class="layui-input-block">
									<input type="radio" name="isDelete" value="0" v-model="city.isDelete" lay-filter="isDelete" title="正常">
									<input type="radio" name="isDelete" value="1" v-model="city.isDelete" lay-filter="isDelete" title="禁用">
								</div>
							</div>

						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary" @click="reload">返回</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	#parse("sys/globalJS.html")
	<script src="${rc.contextPath}/js/sys/city.js?_${date.systemTime}"></script>
</body>

</html>